node_modules/
dist/
*.log
*.db
venv/
__pycache__/
*.sh
*.txt
.env
.DS_Store
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.node.json
!tsconfig.app.json
!eslint.config.js
!*Store.ts
!*.tsx
!*.ts
!*.css
!*.html
!*.md
!*.jpg
!*.png
!*.svg
